body{
	margin: 0;
	padding: 0;
	background: black;
	color: white;
}

h1{
	text-align: center;
	background: lightgray;
	top: 0;
	margin: 0;
	color: orange;
}
nav{
	background: lightgray;
	color: black;
	float: left;
	margin: auto;
	align-content: center;
	width: 100%;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
li{
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
}
.container{
	width: 90%;
	margin: auto;
}

.wrapper{
	margin-top: 5%;
	border: 3px solid gray;
	color: black;
	background: darkgray;
}
.wrapper>h2{
	text-align: center;
	font-weight: bold;
}
.wrapper>p{
	margin-right: 5%;
	margin-left: 5%;
}
.halfwrap{
	float: left;
	width: 49%;
	margin-top: 5%;
	border: 3px solid gray;
	color: black;
	background: darkgray;
}
.halfwrap-right{
	float: right;
}
.halfwrap>h2{
	text-align: center;
}